In [1]:
#import splinter , beautifulsoup and webdriver_manager
from splinter import Browser
#If you do not need to click on the website to go to the next page
from bs4 import BeautifulSoup
from webdriver_manager.chrome import ChromeDriverManager
import requests
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
#set up Splinter
executable_path = {'executable_path': ChromeDriverManager().install()}
browser = Browser ('chrome', **executable_path, headless = False)

[WDM] - ====== WebDriver manager ======

[WDM] - Current google-chrome version is 90.0.4430
[WDM] - Get LATEST driver version for 90.0.4430
[WDM] - Get LATEST driver version for 90.0.4430
[WDM] - Trying to download new driver from https://chromedriver.storage.googleapis.com/90.0.4430.24/chromedriver_mac64.zip
[WDM] - Driver has been saved in cache [/Users/hector/.wdm/drivers/chromedriver/mac64/90.0.4430.24]

In [3]:
#website
url= 'https://en.wikipedia.org/wiki/List_of_North_American_cities_by_number_of_major_sports_championships'
#visit the website
browser.visit(url)
html= browser.html

In [4]:
soup=BeautifulSoup(html,'html.parser')

In [5]:
Table= soup.find_all('table')[0]
#Table_=table.text
Table
Champions_Table_html=pd.read_html(str(Table))
Champions_Table=Champions_Table_html[0]
Champions_Table.head(5)

,Rank,City,Country,MLB[2],NBA/ABA[3],AAFC/NFL/AFL[4],NHL/WHA[5][6],MLS/NASL[7],5 Major Sports Championships
0,1,New York City,USA,35,4,9,8,5,61
1,2,Boston,USA,10,17,6,7,0,40
2,3,Chicago,USA,6,6,11,6,3,32
3,4,Los Angeles,USA,7,12,2,3,7,31
4,5,Montreal,Canada,0,-,-,26,0,26

In [8]:
Champions_Table.dtypes

Rank                            object
City                            object
Country                         object
MLB[2]                          object
NBA/ABA[3]                      object
AAFC/NFL/AFL[4]                 object
NHL/WHA[5][6]                   object
MLS/NASL[7]                     object
5 Major Sports Championships     int64
dtype: object

In [9]:
#website
url1= 'https://en.wikipedia.org/wiki/List_of_attendance_figures_at_domestic_professional_sports_leagues'
#visit the website
browser.visit(url1)
html1= browser.html

In [10]:
soup=BeautifulSoup(html1,'html.parser')

In [6]:
Table1= soup.find_all('table')[0]
Attendance_Table_html=pd.read_html(str(Table1))
Attendance_Table=Attendance_Table_html[0]
Attendance_Table

,Rank,City,Country,MLB[2],NBA/ABA[3],AAFC/NFL/AFL[4],NHL/WHA[5][6],MLS/NASL[7],5 Major Sports Championships
0,1,New York City,USA,35,4,9,8,5,61
1,2,Boston,USA,10,17,6,7,0,40
2,3,Chicago,USA,6,6,11,6,3,32
3,4,Los Angeles,USA,7,12,2,3,7,31
4,5,Montreal,Canada,0,-,-,26,0,26
5,6,Detroit,USA,4,3,4,11,0,22
6,6,San Francisco Bay Area,USA,7,5,7,0,3,22
7,8,Philadelphia,USA,7,4,5,2,1,19
8,9,Toronto,Canada,2,1,-,13,2,18
9,10,Pittsburgh,USA,5,1,6,5,0,17
10,11,St. Louis,USA,11,1,1,1,0,14
11,12,"Washington, D.C.",USA,2,1,5,1,4,13
12,12,Green Bay,USA,-,-,13,-,-,13
13,12,Cleveland,USA,2,1,10,0,0,13
14,15,Baltimore,USA,3,1,5,0,0,9
15,15,Dallas,USA,0,1,6,1,1,9
16,15,Houston,USA,1,2,2,2,2,9
17,18,Minneapolis,USA,2,5,0,0,0,7
18,18,Kansas City,USA,2,0,2,0,3,7
19,18,Miami,USA,2,3,2,0,0,7
20,21,Denver,USA,0,0,3,2,1,6
21,21,Tampa Bay,USA,0,-,2,2,2,6
22,23,San Antonio,USA,-,5,-,-,0,5
23,23,Edmonton,Canada,-,-,-,5,-,5
24,23,Cincinnati,USA,5,-,0,-,0,5
25,23,Seattle,USA,0,1,1,1,2,5
26,27,Indianapolis,USA,-,3,1,0,-,4
27,27,Ottawa,Canada,-,-,-,4,-,4
28,29,Atlanta,USA,1,0,0,0,2,3
29,29,Newark,USA,0,0,0,3,-,3
30,29,Winnipeg,Canada,-,-,-,3,-,3
31,32,Canton,USA,-,-,2,-,-,2
32,32,Columbus,USA,-,-,0,0,2,2
33,32,Milwaukee,USA,1,1,0,-,-,2
34,32,Portland,USA,-,1,-,0,1,2
35,32,Rochester,USA,-,1,0,-,1,2
36,32,Salt Lake City,USA,-,1,-,-,1,2
37,32,Buffalo,USA,0,0,2,0,-,2
38,32,Vancouver,Canada,-,0,-,1,1,2
39,40,Akron,USA,-,-,1,-,-,1
40,40,New Orleans,USA,-,0,1,-,-,1
41,40,Phoenix,USA,1,0,0,0,-,1
42,40,Providence,USA,-,0,1,-,-,1
43,40,Raleigh,USA,-,0,-,1,-,1
44,40,Syracuse,USA,-,1,-,-,-,1
45,40,Tulsa,USA,-,-,-,-,1,1
46,40,San Diego,USA,0,0,1,0,0,1
47,40,Louisville,USA,-,1,0,-,-,1
48,40,Victoria,Canada,-,-,-,1,-,1
49,40,Calgary,Canada,-,-,-,1,0,1
50,40,Quebec City,Canada,-,-,-,1,-,1
51,NR,Charlotte,USA,-,0,0,-,-,0
52,NR,Jacksonville,USA,-,-,0,-,0,0
53,NR,Memphis,USA,-,0,0,-,0,0
54,NR,Nashville,USA,-,-,0,0,0,0
55,NR,Oklahoma City,USA,-,0,-,-,-,0
56,NR,Orlando,USA,-,0,-,-,0,0
57,NR,Sacramento,USA,-,0,-,-,-,0
58,NR,Las Vegas,USA,-,-,0,0,-,0

In [15]:
Attendance_Table.to_csv(index=False)

'League,Sport,Countries,Pyramid level,Season,Teams,Games,Average capacity,Average attendance,Average attendance percentage of average capacity (%),Total attendance,Ref(s)\nMajor League Baseball (MLB),Baseball,United States\xa0Canada,1,2019,30,2430,43103,28199,66.47,68494895,[1]\nNippon Professional Baseball (NPB),Baseball,Japan,1,2019,12,856,36166,30928,82.36,26536962,[2]\nNational Hockey League (NHL),Ice hockey,United States\xa0Canada,1,2018–19,31,1271,"18,332 *",17456,95.17,22186851,[3]\nNational Basketball Association (NBA),Basketball,United States\xa0Canada,1,2018–19,30,1230,"19,122 *",17857,94.06,21964447,[4]\nNational Football League (NFL),American football,United States,1,2018,32,256,69800,67100,96.13,17177581,[5]\nPremier League,Association football,United Kingdom,1,2018–19,20,380,"38,519 *",38181,99.36,14508981,[6]\nInternational League (IL)/Pacific Coast League (PCL) (AAA),Baseball,United States,2,2019,30,2023,11149,6697,59.33,13500376,[7]\nFußball-Bundesliga (Bundesliga),Association football,Germany,1,2018–19,18,306,48791,43449,91.5,13295405,[8]\nEnglish Football League Championship (EFL Championship),Association football,United Kingdom,2,2018–19,24,552,28087,20181,72.95,11119564,[9]\nCampeonato Nacional de Liga de Primera División (LaLiga),Association football,Spain,1,2018–19,20,380,39532,26811,67.9,10188198,[10]\nLega Nazionale Professionisti Serie A (Serie A),Association football,Italy,1,2018–19,20,380,41174,25237,60.15,9590166,[11]\nLiga Mexicana de Béisbol (LMB)/Liga Mexicana del Pacífico (LMP),Baseball,Mexico\xa0United States,1,2019/2019–20,26,1333,12488,6685,53.53,8911290,[12][13]\nEastern League / Southern League / Texas League (AA),Baseball,United States,3,2019,30,1992,7545,4429,57.93,8782607,[7]\nMajor League Soccer (MLS),Association football,United States\xa0Canada,1,2019,24,408,22863,21311,95.67,8694730,[14]\nChampionnat de France de football (Ligue 1),Association football,France\xa0Monaco,1,2018-2019,20,380,,22799,,8663784,[15]\nCampeonato Brasileiro Série A (Brasileirão),Association football,Brazil,1,2019,20,380,43918,22432,51.07,8501700,[16]\nCanadian Hockey League (CHL),Junior ice hockey,Canada\xa0United States,Junior,2015–16,60,2084,6645,3967,59.7,8267924,[17]\n'